<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
      <form>
        <mat-form-field>
          <input matInput placeholder="Weight" [formControl]="weightFormControl">
          <mat-error *ngIf="(weightFormControl.hasError('min') || 
          weightFormControl.hasError('max') || weightFormControl.hasError('pattern')
          )&& !weightFormControl.hasError('required')">
            Please enter a number between 1-9999
          </mat-error>
          <mat-error *ngIf="weightFormControl.hasError('required')">
            Weight is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
